# Dependencies
**/node_modules
node_modules/

# API artifacts
build/server/build/
build/server/dist
build/ui/build
build/Dockerfile*
db-api/

# Tests
build/server/test/
build/server/data/
build/server/db-api/

# DNP artifacts
build_*/